body{
    overflow-x: hidden;
}
.font16{
    font-size: 16px;
}
.font17{
    font-size: 17px;
}
.font36{
    font-size: 28px;
    font-weight: bold;
}
.font45{
    font-size: 45px;
    color:#570055;
    font-weight: bold;
}
.font35{
    font-size: 35px;
    color:#570055;
}
.plum-text{
    color: #570055;
}
.white-text{
    color:white;
}
.plum-bg{
  background-color:#570055;
}
.plum-btn{
background-color: #570055;
color:#fff;
border:1px solid #570055;
}
.plum-btn:hover{
    background-color: #fff;
    border: 1px solid #570055;
    color:#570055;
}
.white-btn{
background-color: #fff;
border: 1px solid #570055;
color:#570055;
}
.white-btn:hover{
    background-color: #570055;
    border: 1px solid #570055;
    color:#fff;
}
.SearchInput{
    width: 100%;
    height: 45px;
    border:1px transparent;
    border-radius: 5px;
    padding: 5px;
    position: relative;

}
ul{
    list-style: none;
    padding: 0px;
    margin-bottom: 0px;
}
ul.ulDBlockMenu li{
    display: inline-block;
    margin:0px 0px;
    text-align: center;
}

ul.ulDBlock{
    list-style: none;
}
ul.ulDBlock li{
    display: inline-block;
    margin:0px 8px;
    text-align: center;

}
ul.ulDBlock-top li{
    display: inline-block;
    margin:0px 10px;
    text-align: center;
}
nav{
    padding:10px 0px 10px 0px;
    line-height: 5;
}
.plumIcon{
    position: absolute;
    top: 40%;
    right: 5%;
}
.HeaderSearch{
    position: relative;
}
.h-slider{
    height:697px;
}
.Socialb{

}
.carousel-caption{
    position: absolute;
    right: -20%;
    top: 35%;
    bottom: 20px;
    left: -60%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}
.carousel-indicators .active{

}
.custum-indicators li{
    background-color:#570055;
}
.custum-indicators li .active{
    width: 40px;
    height: 40px;
}
.SubBtn{
    background-color: #484848;
    padding: 10px 15px;
}
.SubBtn a{
    color: #FFFFFF;
}
.SubInput{
    padding: 8.5px 15px;
    width:79%;
    border: 1px solid transparent;
}
footer{
    background-color: #484848;
    border: 1px solid #707070;
    padding: 30px 5px;
}
ul.SocialLinks {
    border-bottom: 1px solid #707070;

}
ul.SocialLinks li{
    display: inline-block;
    margin:1rem 1rem;
}
ul.Offers{

}
ul.Offers li{
    margin:.5rem 0rem 2rem 0rem;
}
.inputform{
    padding: 15px 20px;
    border-radius: 20px;
}
.login-btn{
    background-color: #484848;
    border: 1px solid #707070;
    border-radius: 20px;
    padding: 7px 26px;
    color: #fff;
}
.custom-height{
    padding: 20px 15px;
}
.img-bg{
    height: 100vh;
    background-image: url("../img/bg-img.png");
    background-size: cover;
    overflow: hidden;
}
.SiteLogo{
    /* width:35%; */
}
ul.social-login li{
    display: inline-block;
    width: 20%;
}
.top-header{
    line-height: 6;
}
.accordion-head h6,.black-text{
   color:#484848;
}
.over-view{
    /* display: flex;
    line-height: 2; */
}
.over-view span{
    color:#fff;
}
.over-view-box{
padding: 15px 0px;
}
.text-start{
    text-align: start;
}
.heading{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color:#570055;
}
.trainee-img{
 width: 247px;
 height:247px;

}
.social{

}
.student-box{
  width:100%;
  height:auto;
  border-radius: 10px;
  padding: 15px 10px !important;
}
.student-box:hover{

}
.student-img{
    width:72px;
    height:72px;
}
.stu-name{
    color:#570055;
    font-size: 26px;
    font-weight: bold;
    line-height: 70px;
    margin-left: 15px;
}
.stu-description{
    width: 100%;
display: block;
display: -webkit-box;
max-width: 100%;
margin: 0 auto;
-webkit-line-clamp: 5;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;

}
.book-sec{
    background-image: url('../img/bookbg.png');
    color: #fff;
    padding: 20px 10px;
}
ul.tranee-social li{
    display: inline-block;
    margin: 10px 5px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
color:#fff;
background-color: #570055;
border:1px solid #570055;
}
.nav-tabs{
    background-color: #E4E4E4;
    color:#570055;
}
.nav-tabs .nav-item a{
    color:#570055;
}
/* Slider Style */
/* Custom Select */
.custom-select {
    position: relative;
    height: auto;
    background: none;
    border: none;
    width:110px;
  }

  .custom-select select {
    display: none; /*hide original SELECT element: */
  }

  .select-selected {
    /* background-color: DodgerBlue; */
  }

  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }

  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }

  /* style the items (options), including the selected item: */
   .select-selected{
       color:#570055 !important;
   }
  .select-items div,.select-selected {
    padding: 8px 16px;
    color:#fff;
    cursor: pointer;
  }

  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color:#570055;
    color:#fff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border-radius: .4em;
    border:1px solid #fff;

  }
  .select-items:after{
    content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-bottom-color: #570055;
	border-top: 0;
	margin-left: -7px;
	margin-top: -7px;
  }

  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }

  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
/* ENd */
@media (min-width: 768px) {

    .multi-item-carousel .carousel-inner .carousel-item {
      margin-right: inherit;
    }
    .multi-item-carousel .carousel-inner .carousel-item.active + .carousel-item,
    .multi-item-carousel .carousel-inner .carousel-item.active + .carousel-item + .carousel-item {
      display: block;
    }
    .multi-item-carousel .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .multi-item-carousel .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .multi-item-carousel .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
      -webkit-transition: none;
      transition: none;
    }
    .multi-item-carousel .carousel-inner .carousel-item.active + .carousel-item + .carousel-item + .carousel-item {
      position: absolute;
      top: 0;
      right: -33.33333333%;
      z-index: -1;
      display: block;
      visibility: visible;
    }
    .multi-item-carousel .carousel-inner .carousel-item-next,
    .multi-item-carousel .carousel-inner .carousel-item-prev {
      position: relative;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .multi-item-carousel .carousel-inner .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      visibility: visible;
    }
    .multi-item-carousel .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .multi-item-carousel .carousel-item-next.carousel-item-left + .carousel-item,
    .multi-item-carousel .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .multi-item-carousel .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      -webkit-transform: translate3d(-100%, 0, 0);
              transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
    .multi-item-carousel .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .multi-item-carousel .carousel-item-prev.carousel-item-right + .carousel-item,
    .multi-item-carousel .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .multi-item-carousel .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      -webkit-transform: translate3d(100%, 0, 0);
              transform: translate3d(100%, 0, 0);
      display: block;
      visibility: visible;
    }
  }
  .zoom {

    transition: transform .2s;
    width:100%;
    height:auto;
    margin: 0 auto;
  }

  .zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
  }
  .accordion-head i{
    font-size: 2.5em;
    float: right;
    color:#484848;
}

.accordion-head > .collapsed > i:before{
    content: "\f105";
}
.accordian-height{
    max-height:337px;
    height: 337px;
    overflow-y:scroll;
}
/* End */
@media screen and (min-width:320px) and (max-width:768px){
    ul.ulDBlockMenu li{
        width:25%;
    }
    ul.ulDBlock-top li{
        width: 48%;
        margin: .5rem 0rem;
    }
    .inputform {
        padding: 15px 20px !important;
    }
    .SubInput{
      width:185px;
      margin-top: 30px;
  }
  ul.Offers li {
    margin: .5rem 0rem 1rem 0rem;
    font-size: 12px;
  }
  .font36 {
    font-size: 22px;
   }
   .font45 {
    font-size: 16px;
    }
    .font35 {
        font-size: 14px;
    }
    .carousel-caption{
        top: 15%;
        left: -50%;
    }
}




.fadeIn{
  background: #fff;
    padding: 17px;
    border-radius: 55%;
    font-size: 23px;
    margin-bottom: 10px;
}
i.fadeIn:hover {
   background-color: #fff;
   transform: rotate(360deg);
   cursor: pointer;
   box-shadow: none;
   transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
}
.fa-youtube-play:hover{
  color:red;
  border: 4px solid;
  padding: 13px;
}
.fa-calculator:hover{
  color: brown;
  border: 4px solid;
  padding: 13px;
}
.fa-area-chart:hover{
color: chocolate;
border: 4px solid;
padding: 13px;
}
.fa-cc-amex:hover{
color: darkslateblue;
border: 4px solid;
padding: 13px;
}
.fa-balance-scale:hover{
color: brown;
border: 4px solid;
padding: 13px;
}
.fa-photo:hover{
color: yellowgreen;
border: 4px solid;
padding: 13px;
}
.fa-medkit:hover{
color: red;
border: 4px solid;
padding: 13px;
}
.fa-language:hover{
color: tomato;
border: 4px solid;
padding: 13px;
}
.fa-graduation-cap:hover{

border: 4px solid;
padding: 13px;
}
.fa-sitemap:hover{

border: 4px solid;
padding: 13px;
}
.fa-desktop:hover{

border: 4px solid;
padding: 13px;
}
.carousel .carousel-control-prev-icon, .carousel .carousel-control-next-icon {
    width: 75px !important ;
    height: 100px !important;
}
.ulDBlock li img{
  cursor: pointer;
}

/*offline courses or Online Courses web page css*/


.offline_courses {
    font-size: 30px;
    font-family: Regular;
}
.previous, .next {
    border: 1px solid;
    padding: 33px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 50px;
}

/* home page side bar css */

.sidebar {
  height: auto;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
    padding: 10px 8px 8px 30px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  background: none;
  color: #000;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  color: white;
  padding: 10px 15px;
  border: none;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
nav{
    margin: 0;
    padding: 0;
}
.logo_img{
   padding: 0;
   margin: 0;
}
.login_id{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#mySidebar {
    position: absolute;
    margin-top: 100px;
    background-color: #fff;
}
.login_id{
    background-color: #fff;
    margin: 0;
    padding: 0;
}
.sidebar_icons {
    background-color: #570055;
    padding: 50px;
}

.close_sidbar{
    background-color: #fff;
}
.singup_id_name {
    font-size: 20px !important;
    color: #570055 !important;
}
.sidebar_icons > a > img{
    padding-right: 10px;
}


/* complete courses class page*/

.complete_course_classes_heading{
    font-family: Segoe UI;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}


.mar-100{
    margin-left: 200px;
    margin-right: 200px;
}
.content{
    margin: 100px;
}
.request_certificate_div{
    margin-top: 100px !important;
}
.close_icon {
    margin-right: 40px;
}
.d-flow-root {
    display: flow-root;
}
.course_content {
    font-size: 28px;
    color: #570055;
    margin: 10px;
    margin-bottom: -5px;
}
.secction1 {
    background-color: #F5F4F5;
    padding-top: 10px;
    font-size: 15px;
    padding: 5px;
    padding-left: 10px;
}
.video_length {
    font-size: 10px;
}
.left_icon {
    margin-top: 14px;
}
.checkbox_div {
    color: #570055;
}
.lession_video_length {
    padding-left: 35px;
    font-size: x-small;
}
.lession_1 {
    padding-left: 15px;
}
.checkbox_lession_1 {
    background-color: #57005508;
    padding-left: 10px;
    padding-top: 5px;
}
.lession2{
    padding-left: 10px;
    padding-top: 5px;
}
.parson_profile{
    top: 385px;
}
.parson_Ellipse {
    left: 415px;
    top: 400px;
}
.parson_img_big {
    left: 442px;
    top: 415px;
}
.parson_name {
    top: 503px;
    color: #800080;
    left: 439px;
}
.parson_skills {
    top: 525px;
    color: #800080;
    left: 421px;
    font-size: 10px;
}
.ratting_str{
    top: 550px;
    left: 412px;
}
.parson_3{
    margin-left: 175px;
}
.teacher_activ_n {
    margin-left: 14px;
}
.ratting_str, .parson_skills, .parson_name, .parson_img_big, .parson_Ellipse, .parson_profile{
     position: absolute;
}
ul.img_footer li {
margin: 0px 10px;
margin: 0px 16px;
}
